<table>
  <tr>
    <th>Versuch</th>
    <th colspan="4">Kombination</th>
    <th>Bewertung</th>
  </tr>
  <tr *ngFor="let guess of board.guesses; let try = index">
    <td>{{try+1}}</td>
    <td>{{guess.combination.c1}}</td>
    <td>{{guess.combination.c2}}</td>
    <td>{{guess.combination.c3}}</td>
    <td>{{guess.combination.c4}}</td>
    <td>{{guess.correct}}/{{guess.correctColors}}</td>
  </tr>
  <tr *ngIf="board.guesses.length < board.maxTries">
    <td>&nbsp;</td>
    <td>c1</td>
    <td>c2</td>
    <td>c3</td>
    <td>c4</td>
    <td>&nbsp;</td>
  </tr>
  <tr *ngIf="board.guesses.length >= board.maxTries">
    <td colspan="6">Spiel vorbei</td>
  </tr>

</table>
